@model Department
@{
    ViewData["Title"] = "Detail";
}


<h1>@Model.DepartmentName şöbəsi haqqında ümumi məlumat</h1>
<p>
    @Html.Raw(Model.Description)
</p>
<!-- jQuery -->
<!--<script src="../../plugins/jquery/jquery.min.js"></script>-->
<!-- Bootstrap 4 -->
<!--<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!-- AdminLTE App -->
<!--<script src="../../dist/js/adminlte.min.js"></script>-->
<!-- AdminLTE for demo purposes -->
<!--<script src="../../dist/js/demo.js"></script>-->
